{
    "singleQuote": false,
    "trailingComma": "all",
    "printWidth": 120,
    "plugins": ["prettier-plugin-svelte"],
    "pluginSearchDirs": ["."],
    "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
    "semi": false,
    "bracketSameLine": true,
    "tabWidth": 4,
    "endOfLine": "lf"
}
