.sbdocs h1,
.sbdocs h2,
.sbdocs h3,
.sbdocs h4 {
    margin-top: 2em;
    margin-bottom: 0.5em;
}
.sbdocs h2:first-of-type {
    margin-top: 4em;
    font-size: 28px;
}
.sbdocs h3,
.sbdocs h3 *,
.sbdocs h4,
.sbdocs h4 * {
    font-weight: bold;
}
.sbdocs h3 {
    font-size: 26px;
}
.sbdocs h3:first-of-type {
    margin-top: 3em;
}
.sbdocs h4 {
    font-size: 20px;
}
.sbdocs h3 a {
    padding-right: 0;
    margin-right: -26px;
}
.sbdocs.sbdocs-h3 + div p {
    margin-top: 1em;
}

#storybook-docs {
    display: initial;
    color: initial;
    background-color: initial;
}
#storybook-docs h1,
#storybook-docs h2,
#storybook-docs h3,
#storybook-docs h4,
#storybook-docs h5,
#storybook-docs h6,
#storybook-docs p,
#storybook-docs li,
#storybook-docs a,
#storybook-docs span {
    line-height: initial;
    max-width: 60ch;
    scale: initial;
}
#storybook-root[hidden="true"] {
    display: none;
}

.sbdocs.sbdocs-content h1,
.sbdocs.sbdocs-content p {
    text-align: center;
    margin: auto;
}
